@media (max-width: 870px) {
    .alterna-menu {
        display: flex;
        position: absolute;
        left: 0;
        top: 4.5vh;
    }

    #menu-pc {display: none;}

    .menu-pc-mobile.active {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 15vh;
        height: 6vh;
        background-color: var(--cor2);
        padding: 0px 30px;;
        /* background-color: rgba(255, 0, 0, 0.372); */
    }

    .menu-pc-mobile a {
        text-decoration: none;
        font-size: 1.3em;
        padding: 1.3vh 3vh;
        color: white;
        transition-duration: 0.3s;
    }

    .menu-pc-mobile a:hover {
        background-color: var(--cor3);
    }
}

@media (max-width: 500px) {
    header {height: 10%;}

    #caixa {
        position: absolute;
        top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px;
        border: 0;
        box-shadow: none;
    }

    .logo {width: 8vh;}

    .menu-pc-mobile.active {
        top: 10vh;
    }

    .alterna-botoes, .alterna-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alterna-menu {
        position: absolute;
        left: 0;
        top: 5vh;
    }

    #botoes-pc {
        display: none;
        flex-direction: column;
        width: 100%;
    }
}