@media (max-width: 1320px) {
    .alterna-menu {
        display: flex;
        position: absolute;
        left: 0;
        top: 4.5vh;
    }

    #menu-pc {display: none;}

    .menu-pc-mobile.active {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 15vh;
        height: 6vh;
        background-color: var(--cor2);
        padding: 0px 40px;
    }

    .menu-pc-mobile a {
        text-decoration: none;
        font-size: 1.3em;
        padding: 1.3vh 3vh;
        color: white;
        transition-duration: 0.3s;
    }

    .menu-pc-mobile a:hover {
        background-color: var(--cor3);
    }

    .menu-pesquisa {
        position: absolute;
        left: 19vh;
    }
}

@media (max-width: 1063px) {
    .menu-pesquisa {
        width: 42%;
    }
}

@media (max-width: 770px) {
    #rodape {
        display: block;
        padding: 10px;
    }

    #rodape li.ultimo {
        margin-bottom: 20px;
    }

    header {height: 10%;}

    #caixa {
        position: absolute;
        top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px;
        border: 0;
        box-shadow: none;
    }

    .logo {width: 8vh;}

    .menu-pc-mobile.active {top: 10vh;}

    .alterna-botoes, .alterna-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alterna-menu {
        position: absolute;
        left: 0;
        top: 5vh;
    }

    .alterna-botoes ion-icon {
        position: relative;
        top: 2.5vh;
    }

    #botoes-pc {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .listamenu {left: 37vh;}

    .menu-pesquisa {
        left: 17vh;
        width: 40%;
    }
}

@media (max-width: 530px) {
    .menu-pesquisa {display: none;}

    .menu-pesquisa-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 10vh;
        left: 0;
        height: 6vh;
        background-color: var(--cor5);
    }

    .menu-pesquisa-mobile input {
        padding: 5px 5px 5px 10px;
        width: 80%;
        border: none;
        font-size: 1em;
        border-radius: 15px;
    }

    .menu-pesquisa-mobile input:focus {
        outline: none;
        border: 2px solid var(--cor2);
    }
}