@media (max-width: 870px) {
    .alterna-menu {
        display: flex;
        position: absolute;
        left: 0;
        top: 30px;
    }

    #menu-pc {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #menu-pc.active {
        display: flex;
    }
}

@media (max-width: 500px) {
    header {height: 10%;}

    #caixa {
        position: absolute;
        top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px;
        border: 0;
        box-shadow: none;
    }

    .logo {width: 8vh;}

    .alterna-botoes, .alterna-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alterna-menu {
        position: absolute;
        left: 0;
        top: 35px;
    }

    #botoes-pc {
        display: none;
        flex-direction: column;
        width: 100%;
    }
}