/* Configuração geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Variáveis*/
:root {
    --cor1: #764f84;
    --cor2: #845f96;
    --cor3: #a777b4;
    --cor4: #d9b4e0;
    --cor5: #E2CCE3;
    --cinza: rgb(78, 78, 78);
    --sombra: rgba(66, 34, 87, 0.247);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    width: 100%;
    height: 15%;
    background-color: var(--cor3);
}

.logo {width: 10vh;}

    /* Itens do Menu */
nav ion-icon.iconmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    font-size: 6vh;
}

nav ion-icon.iconconta, nav ion-icon.iconsuporte, nav ion-icon.iconcarrinho {
    position: absolute;
    font-size: 6vh;
}

.iconconta {right: 120px;}
.iconsuporte {right: 70px;}
.iconcarrinho {right: 20px;}

nav a.link-menupc {
    position: relative;
    bottom: 16px;
    margin: -2px;
    padding: 43px 20px;
    color: var(--cor1);
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.3s;
}

nav a:hover {background-color: var(--cor4);}

    /*Alterna menu*/
.alterna-menu, .alterna-botoes {
    display: none;
    cursor: pointer;
}

.menu-pc-mobile {
    display: none;
    width: 100%;
}

    /* Botões do Menu */
nav .btnmenu-pc {
    margin: -2.2px;
    padding: 5px;
    width: 80px;
    height: 110px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: white;
    background: transparent;
    transition-duration: 0.3s;
}

nav .btnmenu-pc .iconbtn {font-size: 2em;}

nav .btnmenu-pc:hover {
    background-color: var(--cor4);
    color: var(--cor1);
}

nav .btnmenu-mobile {
    border: none;
    background: transparent;
    cursor: pointer;
    top: 10vh;
}

    /* Listas do Menu - Apenas quando passa o mouse por cima */
.listamenu {
    display: none;
    position: fixed;
    top: 15vh;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 3px 3px 5px var(--sombra);
    background-color: var(--cor4);
}

.btnmenu-mobile .listamenu {top: 10vh;}

.listamenu.btnconta {right: 26vh;}
.listamenu.btnsuporte {right: 18.3vh;}
.listamenu.btncarrinho {right: 5vh;}

.listamenu a.link-listamenu {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--cor1);
    transition-duration: 0.3s;
}

.listamenu a.link-listamenu:hover {
    color: white;
    border-radius: 0px 0px 7px 7px;
}

    /* Resolução para surgir e sumir .listamenu
    Está sendo aplicado no JavaScript */
@keyframes surge-listamenu {
    from {opacity: 0;}
    to {
        opacity: 1;
        display: block;
    }
}
@keyframes some-listamenu {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

/* Caixa de Login */
#caixa {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 30px;
    border: 0px solid var(--sombra);
    border-radius: 20px;
    box-shadow: 0 0 20px var(--sombra);
}

#caixa h1 {
    position: relative;
    left: -10px;
    color: var(--cor3);
    text-align: center;
}

.cadastro {top: 19%;}
.login {top: 25%;}

    /* Caixas de texto */
.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 25px -20px;
    width: 110%;
    height: 40px;
    border-bottom: 1px solid var(--cinza);  
}

.input-box label {
    position: absolute;
    top: 70%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: bold;
    color: var(--cinza);
    pointer-events: none;
    transition-duration: 0.3s;
}

.input-box input:focus~label, .input-box input:valid~label {top: -5px;}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    padding: 0 35px 0 5px;
}

.input-box .icon, .icon-relevarsenha {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 1.2em;
    color: black;
}

    /* Estilos para validação dos campos */
.valido {border: 2px solid green;}
.invalido {border: 2px solid red;}

.icon-relevarsenha {cursor: pointer;}

    /* Esqueceu senha */
.remember-forgot a {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: .9em;
    color: var(--cor2);
    text-decoration: none;
}

.remember-forgot a:hover {
    color: var(--cor1);
    font-weight: bold;
}

    /* Botão Login */
.btn-form {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: var(--cor4);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: var(--cor1);
    transition-duration: 0.3s;
}

.btn-form:hover {
    color: var(--cor4);
    background-color: var(--cor2);
    transition: 0.3s;
}

    /* Não tem conta */
.cad-login {
    margin-top: 30px;
    font-size: .9em;
    text-align: center;
    color: var(--cinza);
}

.cad-login a {
    color: var(--cor3);
    text-decoration: none;
    font-weight: 600;
}

.cad-login a:hover {color: var(--cor1);}