/* COMPUTADOR */
@media (max-width: 1485px) {
    .alterna-menu {
        display: flex;
        position: absolute;
        left: 0;
        top: 3vh;
    }

    #menu-pc {display: none;}

    .menu-pc-mobile.active {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 13vh;
        height: 6vh;
        background-color: var(--cor2);
    }

    .menu-pc-mobile a {
        text-decoration: none;
        font-size: 1.3em;
        padding: 0.7vh 5vh;
        color: white;
        transition-duration: 0.3s;
    }

    .menu-pc-mobile a:hover {background-color: var(--cor3);}

    .menu-pesquisa {
        position: absolute;
        left: 19vh;
    }

    .produto {width: 35vh;}
}

/* TABLET */
@media (max-width: 1063px) {
    .menu-pesquisa {width: 42%;}

    .sobre-loja {text-align: center;}

    .prod-destaque-direita {
        flex-direction: column-reverse;
        align-items: center;
    }

    .prod-destaque-direita .pdd-texto, .prod-destaque-esquerda .pdd-texto {align-items: center;}

    .prod-destaque-direita img, .prod-destaque-esquerda img {width: 65%;}

    .prod-destaque-esquerda {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 770px) {
    #rodape {
        display: block;
        padding: 10px;
    }

    #rodape li.ultimo {margin-bottom: 20px;}

    header {height: 10%;}

    #caixa {
        position: absolute;
        top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px;
        border: 0;
        box-shadow: none;
    }

    .logo {width: 7vh;}

    .menu-pc-mobile.active {top: 10vh;}

    .alterna-botoes, .alterna-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alterna-menu {
        position: absolute;
        left: 0;
        top: 5vh;
    }

    .alterna-botoes ion-icon {
        position: relative;
        top: 2.5vh;
    }

    #botoes-pc {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .listamenu {left: 37vh;}

    .menu-pesquisa {
        left: 17vh;
        width: 40%;
    }

    #minha-conta {
        margin-top: 180px;
        justify-content: flex-end;
        flex-direction: column;
    }

    .caixa-minha-conta, .caixa-compra {margin: 0 0 5vh 0;}
}

/* MOBILE */
@media (max-width: 530px) {
    .menu-pc-mobile a {
        font-size: 1.1em;
        padding: 1.2vh 2vh;
    }
    .menu-pesquisa {display: none;}

    .menu-pesquisa-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 10vh;
        left: 0;
        height: 6vh;
        background-color: var(--cor5);
    }

    .menu-pesquisa-mobile input {
        padding: 5px 5px 5px 10px;
        width: 80%;
        border: none;
        font-size: 1em;
        border-radius: 15px;
    }

    .menu-pesquisa-mobile input:focus {
        outline: none;
        border: 2px solid var(--cor2);
    }

    #minha-conta {padding: 5px;}

    .caixa-minha-conta, .caixa-compra {width: 100%;}

    .produto {width: 80%;}

    .prod-destaque-direita img, .prod-destaque-esquerda img {width: 85%;}
}