/* CONFIGURAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: texto, sans-serif;
}

/* VARIÁVEIS */
:root {
    --cor1: #623c6f;
    --cor2: #845f96;
    --cor3: #a777b4;
    --cor4: #d9b4e0;
    --cor5: #E2CCE3;
    --vermelho: #d90b0b;
    --prateado: linear-gradient(135deg, #e0e0e0, #f1f1f1, #d1d1d1, #f1f1f1, #e0e0e0);
    --transparente: linear-gradient(360deg, #b8b8b85b, #ffffff); 
    --cinza: rgb(78, 78, 78);
    --sombra: rgba(66, 34, 87, 0.247);
}

/* FONTES */
@font-face {
    font-family: titulo;
    src: url(./fontes/Facelio.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: texto;
    src: url(./fontes/Wellingtons-Regular.otf);
}

@font-face {
    font-family: texto-negrito;
    src: url(./fontes/Wellingtons-Bold.otf);
}

html {scroll-behavior: smooth;}

/* Testar */
html::-webkit-scrollbar-thumb {background: var(--cor3);}
html::-webkit-scrollbar-track {background: var(--cor5);}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {font-family: titulo;}

/* CABEÇALHO */
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    width: 100%;
    height: 13vh;
    background-color: var(--cor3);
    box-shadow: 0 3px 10px var(--sombra);
    z-index: 3;
}

    /* Itens do Menu */
.logo {width: 9vh;}

.menu-pesquisa {
    margin: 10px;
    padding: 2px 2px 2px 15px;
    width: 60vh;
    font-size: 1em;
    line-height: 30px;
    border-radius: 15px;
    border: none;
}

.menu-pesquisa:focus {
    outline: none;
    border: 2px solid var(--cor2);
}

    /* Campo de Pesquisa para Mobile */
.menu-pesquisa-mobile {
    display: none;
    width: 100%;
    box-shadow: 0px 2px 5px var(--sombra);
    z-index: 2;
}

nav ion-icon.iconmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    font-size: 6vh;
}

nav ion-icon.iconconta, nav ion-icon.iconsuporte, nav ion-icon.iconsacola {
    position: absolute;
    font-size: 6vh;
}

.iconconta {right: 120px;}
.iconsuporte {right: 70px;}
.iconsacola {right: 20px;}

nav a.link-menupc {
    position: relative;
    bottom: 16px;
    margin: -2px;
    padding: 5vh 19px 4.4vh 19px;
    color: var(--cor5);
    font-size: 1.3em;
    font-family: texto-negrito;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.3s;
}

nav a:hover {
    background-color: var(--cor4);
    color: var(--cor2);
}

    /*Alterna menu*/
.alterna-menu, .alterna-botoes {
    display: none;
    cursor: pointer;
}

.menu-pc-mobile {
    display: none;
    width: 100%;
    box-shadow: 0 2px 10px var(--sombra);
    z-index: 2;
}

    /* Botões do Menu */
nav .btnmenu-pc {
    position: relative;
    display: inline-block; /* Sujeito a mudança */
    margin: -2.2px;
    padding: 5px;
    width: 80px;
    height: 13vh; /* Mesmo valor da altura do header */
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: var(--cor5);
    background: transparent;
    transition-duration: 0.3s;
}

nav .btnmenu-pc .iconbtn {font-size: 2em;}

nav .btnmenu-pc:hover {
    background-color: var(--cor4);
    color: var(--cor1);
}

nav .btnmenu-mobile {
    border: none;
    background: transparent;
    cursor: pointer;
}

    /* Listas do Menu - Apenas quando passa o mouse por cima */
.listamenu {
    display: none;
    position: absolute;
    width: max-content;
    top: 13vh; /* Mesmo valor da altura do header */
    left: 0;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 3px 3px 5px var(--sombra);
    background-color: var(--cor4);
    z-index: 4;
}

.btnmenu-mobile .listamenu {top: 10vh;}

.listamenu .btnconta {left: 29.5vh;}
.listamenu .btnsuporte {left: 21.3vh;}
.listamenu .btnsacola {left: 5.5vh;}

.listamenu a.link-listamenu {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--cor1);
    transition-duration: 0.3s;
}

.listamenu a.link-listamenu:hover {
    color: white;
    border-radius: 0px 0px 7px 7px;
}

    /* Resolução para surgir e sumir .listamenu
    Está sendo aplicado no JavaScript */
@keyframes surge-listamenu {
    from {opacity: 0;}
    to {
        opacity: 1;
        display: block;
    }
}
@keyframes some-listamenu {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

/* Caixa de Login */
#caixa {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--sombra);
    z-index: 1;
}

#caixa h1 {
    position: relative;
    left: -10px;
    font-size: 2.3em;
    color: var(--cor3);
    text-align: center;
}

.cadastro {top: 19%;}
.login {top: 25%;}

    /* Caixas de texto */
.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 25px -20px;
    width: 110%;
    height: 40px;
    border-bottom: 1px solid var(--cinza);  
}

.input-box label {
    position: absolute;
    top: 70%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: bold;
    color: var(--cinza);
    pointer-events: none;
    transition-duration: 0.3s;
}

.input-box input:focus~label, .input-box input:valid~label {top: -5px;}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    padding: 0 35px 0 5px;
}

.input-box .icon, .icon-relevarsenha {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 1.2em;
    color: black;
}

.icon-relevarsenha {cursor: pointer;}

    /* Esqueceu senha */
.remember-forgot a {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: .9em;
    color: var(--cor2);
    text-decoration: none;
}

.remember-forgot a:hover {
    color: var(--cor2);
    font-weight: bold;
}

    /* Botão Login */
.btn-form {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: var(--cor4);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: var(--cor1);
    transition-duration: 0.3s;
}

.btn-form:hover {
    color: var(--cor4);
    background-color: var(--cor2);
    transition: 0.3s;
}

    /* Não tem conta */
.cad-login {
    margin-top: 30px;
    font-size: .9em;
    text-align: center;
    color: var(--cinza);
}

.cad-login a {
    color: var(--cor3);
    text-decoration: none;
    font-weight: 600;
}

.cad-login a:hover {color: var(--cor1);}

/* BARRA LATERAL - CARRINHO */
#carrinho {
    z-index: 5;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 30px var(--sombra);
}

#carrinho ion-icon {
    font-size: 4em;
    color: var(--cor4);
}

#carrinho h1 {
    font-size: 1.7em;
    color: var(--cor2);
}

#carrinho a {
    font-family: texto-negrito;
    color: var(--cor3);
    cursor: pointer;
}

#carrinho a:hover {
    color: var(--cor2);
    text-decoration: underline;
}

/* PÁGINA INICIAL */
    /* Catálogo */
#catalogo img {
    max-width: 100%;
    height: 100%;
    margin-top: 15vh;
}

    /* Sobre a Loja */
.sobre-loja, .produtos-index, .conheca-produtos {margin-top: 5vh;}
.prod-destaque-direita, .prod-destaque-esquerda {margin: 20vh 0 5vh 0;}
.prod-destaque-direita, .prod-destaque-esquerda, .sobre-loja, .conheca-produtos, .produtos-index {width: 85%;}

.sobre-loja h1, .prod-destaque-direita h1, .prod-destaque-esquerda h1, .conheca-produtos h1, .produtos-index h1 {
    font-size: 3em;
    color: var(--cor1);
}

.sobre-loja p {
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 1.5em;
}
    /* Mais Vendidos e Conheça nossos Produtos*/
.produtos-index, .conheca-produtos {text-align: center;}

.conheca-produtos {
    padding: 30px;
    box-shadow: 0 0 20px var(--sombra);
}

.conhecaproduto {
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
}

.conheca-conteudo {
    display: flex;
    justify-content: space-between;
}

.conhecaproduto img {
    display: flex;
    width: 160px;
    margin: 3vh;
    border-radius: 100%;
    transition-duration: 0.3s;
    cursor: pointer;
}

.conhecaproduto a { 
    font-size: 1.3em;
    font-family: texto-negrito;
    color: var(--cor2);
    transition-duration: 0.3s;
}

.conhecaproduto img:hover {
    width: 170px;
    box-shadow: 0 0 20px var(--sombra);
}

.conhecaproduto a:hover {
    color: var(--cor1);
    font-size: 1.4em;
}

    /* Produtos em Destaque */
        /* Direita */
.prod-destaque-direita {
    display: flex;
    justify-content: flex-end;
}

.prod-destaque-direita .pdd-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.pdd-texto p {
    margin-top: 30px;
    width: 90%;
    line-height: 1.5em;
    font-size: 1.2em;
}

.prod-destaque-direita img {
    width: 100%;
    margin-left: 3vw;
}

        /* Esquerda */
.prod-destaque-esquerda {
    display: flex;
    justify-content: flex-start;
}

.prod-destaque-esquerda .pdd-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.pdd-texto p {
    margin-top: 30px;
    width: 90%;
    line-height: 1.5em;
    font-size: 1.2em;
}

.prod-destaque-esquerda img {margin-right: 3vw;}

.prod-destaque-direita img, .prod-destaque-esquerda img {box-shadow: 0 0 10px var(--sombra);}

.produtos-conteudo {
    display: flex;
    margin-top: 3vh;
    justify-content: space-between;
}

/* PRODUTOS - RESULTADO */
#container-produtos {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    width: 95%;
    align-items: flex-start;
    padding: 10px;
}

#container-produtos h1 {color: var(--cor1);}

#produtos-resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 80%;
}

/* PESQUISA */
/* Container que agrupa todos os elementos da pesquisa.php */
#pesquisa-prod {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

    /* Filtro */
#filtro {
    z-index: 2;
    position: sticky; /* Testar */
    top: 15vh;
    padding: 10px 10px 10px 0;
}

#filtro form, #aba-filtro-mobile form {
    position: sticky;
    top: 25%;
    width: 100%;
}

#filtro h1, #aba-filtro-mobile h1 {
    font-size: 1.2em;
    font-family: texto-negrito;
    color: var(--cor2);
}

#filtro .txt-preco, #filtro select {
    margin: 2px 0 20px 0;
    padding: 5px;
    width: 100%;
    height: 5vh;
    font-size: 0.9em;
    border-color: var(--cinza);
}

#aba-filtro-mobile .txt-preco, #aba-filtro-mobile select {
    margin: 2px 0 20px 0;
    padding: 5px;
    width: 60%;
    height: 5vh;
    font-size: 0.9em;
    border-color: var(--cinza);
}

#aba-filtro-mobile select {width: 100%;}

#filtro .txt-preco,  #aba-filtro-mobile .txt-preco {
    width: 10vh;
    border: 1px solid var(--cinza);
}

#filtro .btn-filtrar,  #aba-filtro-mobile .btn-filtrar {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: var(--cor4);
    font-size: 1em;
    font-family: texto-negrito;
    color: var(--cor2);
    cursor: pointer;
    transition-duration: 0.3s;
}

#filtro .btn-filtrar:hover,  #aba-filtro-mobile .btn-filtrar:hover {
    background-color: var(--cor2);
    color: var(--cor4);
}

#filtro-mobile, #aba-filtro-mobile {display: none;}

#aba-filtro-mobile {
    padding: 25px;
    background-color: white;
    border-radius: 25px;
}

/* ATRIBUTOS PARA PRODUTO */
.produto {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 33.4vh;
    height: 450px;
    padding: 20px;
    justify-content: space-around;
    box-shadow: 0 0 10px var(--sombra);
    overflow: hidden;
}

.produto img {
    height: 200px;
    width: 200px;
}

.produto p {margin-top: 1.5vh;}

.preco {
    font-size: 1.3em;
    font-family: texto-negrito;
    justify-content: space-between;
}

.botoes-produto {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes-produto ion-icon {
    cursor: pointer;
    font-size: 1.5em;
    color: var(--cinza);
}

.icon-mobile-compra, .descricao-prod {display: none;}

/* MINHA CONTA */
#minha-conta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 10vh;
    min-height: 90vh;
    padding: 0px 60px;
}

#minha-conta h1 {
    padding: 10px;
    font-size: 3em;
    color: var(--cor1);
}

.caixa-minha-conta, .caixa-compra {
    display: flex;
    flex-direction: column;
    width: 50vh;
    text-align: center;
    border-radius: 18px;
    border: 3px solid var(--cor5);
}

.caixa-compra {
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.2em;
    color: var(--cinza);
}

.caixa-compra ion-icon {font-size: 3em;}

.caixa-minha-conta h2 {
    padding: 10px;
    background-color: var(--cor5);
    font-size: 1.3em;
    font-family: texto-negrito;
    color: var(--cor2);
    border-radius: 15px 15px 0px 0px;
}

.conteudo-minhaconta {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.conteudo-minhaconta p {color: var(--cinza);}

.btn-minhaconta, .btn-index, .btn-saibamais, .btn-compra {
    width: 150px;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn-minhaconta::after, .btn-index::after, .btn-saibamais::after, .btn-compra::after {
    content: attr(btn-placeholder);
    font-size: 1.3em;
    font-family: texto-negrito;
}

.btn-minhaconta {
    color: var(--cor3);
    background-color: var(--cor5);
}

.btn-minhaconta:hover {
    color: var(--cor5);
    background-color: var(--cor3);
}

.btn-index, .btn-saibamais, .btn-compra, .btn-compra {
    color: var(--cor5);
    background-color: var(--cor3);
}

.btn-index:hover, .btn-saibamais:hover, .btn-compra:hover, .btn-compra:hover {
    color: var(--cor3);
    background-color: var(--cor5);
}

/* HISTÓRICO DE PEDIDOS */
.pedidos {
    border: 2px solid red;
}

/* ALTERAR DADOS */
#alterar-dados, #excluir-conta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 10vh;
    min-height: 90vh;
}

#alterar-dados h1 {
    text-align: center;
    padding: 10px;
    font-size: 3em;
    color: var(--cor1);
}

#alterar-dados form {
    width: 60vh;
    padding: 15px;
}

#alterar-dados input {
    padding-left: 10px;
    width: 100%;
    height: 5vh;
    margin-bottom: 10px;
}

#alterar-dados input[type="submit"], #alterar-dados a, #excluir-conta a, #excluir-conta input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 50%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 8px;
    font-family: texto-negrito;
    font-size: 0.9em;
    color: white;
    background-color: var(--cor3);
    transition-duration: 0.3s;
    cursor: pointer;
}

#alterar-dados input[type="submit"]:hover, #excluir-conta a:hover {
    color: var(--cor3);
    background-color: white;
}

.excluir-conta {background-color: var(--vermelho) !important;}

.excluir-conta:hover {
    color: var(--vermelho) !important;
    background-color: white !important;
    transition-duration: 0.3s;
}

#alterar-dados .btn-altdados {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* EXCLUIR CONTA */
#excluir-conta ion-icon {
    font-size: 7em;
    margin-bottom: 15px;
}

#excluir-conta p {
    font-size: 1.2em;
    text-align: center;
}

#excluir-conta a {margin-top: 35px;}

#excluir-conta form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#excluir-conta input {
    color: var(--vermelho);
    background-color: white;
}

#excluir-conta input:hover {
    color: white;
    background-color: var(--vermelho);
}

/* PÁGINA ESPECÍFICA DO PRODUTO SELECIONADO */
#pag-produto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-top: 50vh;
    min-height: 100vh;
    padding: 20px;
}

#pag-produto h1 {
    color: var(--cor1);
    font-size: 2.5em;
}

    /* Class que agrupa tanto a imagem principal quanto as laterais */
.img-pag-produto {
    position: sticky;
    top: 20vh;
    display: flex;
}

.img-pag-produto img {border-radius: 10px;}

.mais-img-produto {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.mais-img-produto img {
    width: 100px;
    margin: 2px 0;
}

.img-lateral {cursor: pointer;}

.txt-pag-produto {margin: 100px 0 0 50px;}

.txt-pag-produto a {
    display: flex;
    align-items: center;
    color: var(--cor3);
}

.txt-pag-produto p {
    display: flex;
    align-items: center;
}

.txt-pag-produto input {
    margin: 10px 0 30px 0;
    padding: 5px;
    background-color: var(--cor3);
    border: none;
    border-radius: 15px;
    font-size: 1.2em;
    font-family: texto-negrito;
    width: 200px;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}

.txt-pag-produto input:hover {
    background-color: var(--cor4);
    color: var(--cor2);
}

.txt-pag-produto a:hover {color: var(--cor1);}

.txt-pag-produto ul {margin-left: 15px;}

.preco-pag-produto {
    margin: 10px 0;
    font-size: 2em;
    font-family: texto-negrito;
}

    /* Configurações da checkbox de cor */
.checkbox-cor {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
}

.checkbox-cor input[type="radio"] {display: none;}

.checkbox-cor .quadrado-cor {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox-cor input[type="radio"]:checked + .quadrado-cor {
    box-sizing: content-box;
    border: 2.5px solid white;
    box-shadow: 3px 3px 3px var(--sombra);
}

.comprar-pag-produto {margin: 30px 0 0 20px;}

.comprar-pag-produto ion-icon {
    margin-left: 20px;
    position: relative;
    top: 12;
    font-size: 1.7em;
    color: var(--cinza);
    cursor: pointer;
}

.info-pag-produto, .descr-pag-produto {
    font-size: 0.9em;
    color: var(--cinza);
    margin-bottom: 15px;
}

.descr-pag-produto {margin-bottom: 0;}

.txt-pag-produto form {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.txt-pag-produto button {
    position: relative;
    bottom: 16;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.2em;
}

.txt-pag-produto button ion-icon {
    position: absolute;
    bottom: 20;
    right: 5;
}

.txt-pag-produto a {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: var(--cor3);
    color: var(--cor5);
    font-size: 1.2em;
    font-family: texto-negrito;
    transition-duration: 0.3s;
}

/* PRODUTOS DO CARRINHO */
.prod-carrinho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--cor3);
    padding: 10px;
    margin-bottom: 3px;
}

.prod-carrinho img {
    margin: 0px 5px 5px 5px;
    width: 100px;
    border-radius: 15px;
}

.txt-prod-carrinho {
    font-size: 0.8em;
}

.preco-prod-carrinho {
    color: var(--cor2);
    font-size: 1.4em !important;
    font-family: texto-negrito;
}

#carrinho button {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 1.1em;
    font-family: texto-negrito;
    background-color: var(--cor3);
    color: var(--cor5);
    transition-duration: 0.3s;
}

#carrinho button:hover {
    background-color: var(--cor5);
    color: var(--cor3);
}

/* VOLTAR AO TOPO */
.voltar-topo {
    width: 100%;
    margin-top: 10vh;
    padding: 10px;
    text-align: center;
    background-color: var(--cor5);
}

.voltar-topo a {
    color: var(--cor2);
    font-size: 1.1em;
    font-family: texto-negrito;
}

/* CHECKOUT */
#checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 10vh;
    min-height: 90vh;
    padding: 0px 60px;
}

.itens-checkout h1 {
    font-size: 3em;
    color: var(--cor1);
}

.prod-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--cor3);
    padding: 10px;
    margin-bottom: 3px;
}

.prod-checkout img {
    margin: 0px 5px 5px 5px;
    width: 100px;
    border-radius: 15px;
}

.txt-prod-checkout {
    margin: 0 15px;
    font-size: 1em;
}

.nome-checkout {
    width: 300px;
}

.preco-prod-checkout {
    color: var(--cor2);
    font-size: 1.4em !important;
    font-weight: bold;
}

.preco-checkout {
    text-align: center;
    width: 400px;
    padding: 20px;
    border: 2px solid var(--cor3);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--sombra);
}

.preco-checkout h1 {color: var(--cor2);}

.info-preco-checkout {
    display: flex;
    justify-content: space-around;
}

.preco-checkout h2, .preco-checkout p {
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 1.3em;
}

.preco-checkout button, .preco-checkout input {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-size: 1.2em;
}

.preco-checkout .finalizar-checkout {
    background-color: var(--cor3);
    color: white;
}

.preco-checkout .finalizar-checkout:active {background-color: var(--cor2);}

.preco-checkout .continuar-checkout {
    background-color: white;
    color: var(--cor2);
}

.preco-checkout .continuar-checkout:active {
    background-color: var(--cor5);
    color: var(--cor1);
}

/* FINALIZAR COMPRA */
.containers-finalizar-compra {
    margin-bottom: 20px;
    border: 3px solid var(--cor4);
    border-radius: 15px;
    padding: 20px 10px;
}

.containers-finalizar-compra h2 {
    margin: 5px 0 10px 20px;
    font-size: 2em;
    font-family: titulo;
    color: var(--cor2);
}

.containers-finalizar-compra span {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containers-finalizar-compra input {
    width: 100%;
    margin: 5px 20px;
    padding: 5px;
    font-size: 1.1em;
}

.containers-finalizar-compra select {
    padding: 5px;
    margin-left: 20px;
    width: 60px;
    height: 5vh;
    font-size: 1em;
}

#pagamento {
    margin: 10px;
    width: 95%;
}

#info_cartao {
    margin: 10px;
    flex-direction: column;
    justify-content: space-around;
}

#boleto ion-icon {
    align-items: center;
    font-size: 1.2em;
}

.preco-checkout-fixo {
    position: fixed;
    top: 30vh;
    left: 135vh;
}

/* RODAPÉ */
#rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: var(--cor3);
    text-align: center;
}

#rodape h1 {
    color: var(--cor1);
    font-size: 1.1em;
    font-family: texto-negrito;
}

#rodape li, a {
    text-decoration: none;
    list-style: none;
    color: var(--cor5);
}

#rodape a:hover {text-decoration: underline;}

#rodape ion-icon {
    margin: 3px;
    font-size: 2.5em;
    color: var(--cor5);
}